/* Nav.css */
.home-u1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.home-11 {
  float: left;
}

.home-11 .home-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.home-11 .home-a:hover {
  background-color: #111;
}
